/*CSS for my Website*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1000px;
    margin: auto;
    background-color: #f4f3f5;
 }
 h1 {
    color: #070707 ;
    margin-left: 80px;
    text-align: center;
    font-family: Copperplate Gothic Bold;
    font-size: 300%;
 }
 h2 {
   color: #070707 ;
   font-family: Copperplate Gothic Bold;
}
 h3 { color: #070707 ;
   font-family: Copperplate Gothic Bold;
   font-weight: bold;
}

p{color: #070707 ;
   font-family: Copperplate Gothic Bold;
}   
 nav{
    background-color: #ff0000 ;
    height: 40px;
    padding-bottom: 20px;
 }
 nav ul {
    list-style: none;
    margin: auto; 
    padding-top: 20px; 
 }
 nav li {
    display: inline;
 }
 nav a {
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-size: 200%;
    font-weight: bold;
    font-family: Copperplate Gothic Bold;
    margin-right: 20px;
 }
 nav a:hover{
    color: rgb(0, 116, 6);
 }

 section {
   float: right;
   width: 100%;
   margin-right: 0%;
   margin-bottom: 20px;
   margin-left: 3%;
}
   
footer{
	width: 1000px;
	margin: auto;
	clear: both;
   background-color: #ff0000 ;
   height: 30px;
   text-align: center;
   padding-bottom: 3px;

}
footer a{
   text-decoration: none;
   color: white;
   margin-left: auto;
   vertical-align: center;
   text-align: center;
}
table {
   color: #070707 ;
   font-family: Copperplate Gothic Bold;
}

